<div ng-if="selectedBlog" id="jumbo-container" class="jumbotron">
	<section id="jumbo-container-content" class="blog-card-content">
		<section class="blog-card-content">
			<div class="blog-title">
				<h4>{{selectedBlog.title}}</h4>
				<h5>{{selectedBlog.date}}</h5>
			</div>
			<div class="blog-text">
				<p class="entry">{{selectedBlog.entry}}</p>
			</div>
		</section>
    </section>
		<p><a ng-click="clearSelectedBlog()" id="close-jumbo-btn" class="btn btn-primary btn-lg" href="#" role="button">Close</a></p>
</div>
<div id="blog-container" class="container-fluid">
	<div id="{{blog.cardId}}" ng-click="selectBlog($index)" ng-repeat="blog of blogs | filter: searchTextNav.text" class="blog-card col-md-3">
		<section class="blog-card-content">
			<div class="blog-title">
				<h4>{{blog.title}}</h4>
				<h5>{{blog.date}}</h5>
			</div>
			<div class="blog-text">
				<p class="entry">{{blog.entry}}</p>
			</div>
		</section>
	</div>
</div>    
