	<div id="experience-main">
		<article>
			<h3>InfoWorks</h3>
			<h4>May 2014 - Present</h4>
			<h4>Business Consultant</h4>
			<div>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
					<li>Project 3</li>
				</ul>
			</div>
		</article>
		<article>
			<h3>Community Health Systems</h3>
			<h4>November 2013 - May 2014</h4>
			<h4>Business Analyst</h4>
			<div>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
					<li>Project 3</li>
				</ul>
			</div>
		</article>
		<article>
			<h3>HORNE LLP</h3>
			<h4>November 2010 - September 2013</h4>
			<h4>Manager - Government Services</h4>
			<div>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
					<li>Project 3</li>
				</ul>
			</div>
		</article>
	</div>
