<!DOCTYPE html>
<html>
<head>
	<title>Gib Bowden</title>
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script src="https://use.fontawesome.com/ca8ec31cbc.js"></script>
</head>
<body>
	<div id="nav-header">
		<div id="header">
			<header>
				<h1>Gib Bowden</h1>
			</header>
		</div>
		<div id="nav">
			<nav>
				<ul>
					<li><a class="selected" href="#">Experience</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="about-me.html">About Me</a></li>
					<li><a href="blog.html">Blog</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="experience-main">
		<article>
			<h3>InfoWorks</h3>
			<h4>May 2014 - Present</h4>
			<h4>Business Consultant</h4>
			<div>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
					<li>Project 3</li>
				</ul>
			</div>
		</article>
		<article>
			<h3>Community Health Systems</h3>
			<h4>November 2013 - May 2014</h4>
			<h4>Business Analyst</h4>
			<div>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
					<li>Project 3</li>
				</ul>
			</div>
		</article>
		<article>
			<h3>HORNE LLP</h3>
			<h4>November 2010 - September 2013</h4>
			<h4>Manager - Government Services</h4>
			<div>
				<ul>
					<li>Project 1</li>
					<li>Project 2</li>
					<li>Project 3</li>
				</ul>
			</div>
		</article>
	</div>
	<footer>2017 Gib Bowden</footer>
</body>
</html>